/* START RESET STYLES */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: "Wix Madefor Display", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

/* END RESET STYLES */

/* START HEADER STYLES */

.container {
	background-color: #fff;
	min-height: 100vh;
}

.header {
	padding: 60px 120px;
	@media (max-width: 768px) {
		padding: 60px 20px;
		padding-bottom: 20px;
	}
}

.nav {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 768px) {
		flex-direction: column;
		height: 165px;
		padding: 20px;
	}
}

.nav_brand {
	font-weight: 700;
}

.nav_menu {
	display: flex;
	gap: 12px;
	@media (max-width: 768px) {
		align-items: center;
		flex-direction: column;
	}
}

.nav_menu_item {
	font-weight: 700;
}

.nav_menu_item a {
	color: #000;
}

/* END HEADER STYLES */

/* START HOME SECTION STYLES */

.home {
	padding: 60px 120px;
	@media (max-width: 768px) {
		padding: 60px 20px;
		padding-top: 20px;
	}
}

.home_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	@media (max-width: 1100px) {
		flex-direction: column;
		gap: 20px;
	}
}

.home_link {
	font-weight: 700;
	font-size: 100px;
}

.home_descr {
	font-family: "Space Grotesk", sans-serif;
	font-size: 20px;
	@media (max-width: 1100px) {
		text-align: center;
	}
}

/* END HOME SECTION STYLES */

/* START ADVANTAGES SECTION STYLES */

.advantages {
	padding: 60px 120px;
	@media (max-width: 768px) {
		padding: 60px 20px;
	}
}

.qual_title {
	font-family: "Space Grotesk", sans-serif;
	font-size: 17px;
}

.qual_descr {
	margin-top: 30px;
	font-weight: 800;
	font-size: 50px;
	color: #7b7778;
	@media (max-width: 768px) {
		font-size: 28px;
	}
}

.frustration {
	margin-top: 100px;
}

.frust_wrapper {
	display: flex;
	align-items: center;
	gap: 50px;
	@media (max-width: 1200px) {
		flex-direction: column;
		align-items: normal;
	}
}

.frust_text {
	display: flex;
	flex-direction: column;
}

.frust_title {
	font-size: 34px;
	font-weight: 800;
}

.frust_descr {
	margin-top: 20px;
	font-family: "Space Grotesk", sans-serif;
	font-size: 17px;
}

.oasis {
	margin-top: 100px;
}

.oasis_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
	@media (max-width: 1200px) {
		flex-direction: column;
		align-items: normal;
	}
}

.oasis_text {
	display: flex;
	flex-direction: column;
}

.oasis_title {
	font-size: 34px;
	font-weight: 800;
}

.oasis_descr {
	margin-top: 30px;
	font-family: "Space Grotesk", sans-serif;
	font-size: 17px;
}

.approach {
	margin-top: 100px;
}

.approach_title {
	font-size: 40px;
	font-weight: 800;
}

.approach_descr {
	margin-top: 30px;
	font-family: "Space Grotesk", sans-serif;
	font-size: 30px;
	font-weight: 600;
	@media (max-width: 768px) {
		font-size: 17px;
	}
}

/* END ADVANTAGES SECTION STYLES */

/* START INDUSTRY SECTION STYLES */

.industry_count {
	display: flex;
	gap: 20px;
	padding: 60px 120px;
	@media (max-width: 1050px) {
		flex-direction: column;
	}
	@media (max-width: 768px) {
		padding: 0 20px;
	}
}

.industry_count_box {
	padding: 40px;
	width: 50%;
	height: 400px;
	background-color: #efefef;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 300px;
	font-weight: 700;
	/* @media (max-width: 1350px) {
		padding: 40px 20px;
	} */
	@media (max-width: 1200px) {
		font-size: 200px;
	}
	@media (max-width: 1050px) {
		width: 100%;
	}
	@media (max-width: 768px) {
		padding: 40px 20px;
	}
}

.industry_descr_box {
	padding: 40px;
	width: 50%;
	height: 400px;
	background-color: #efefef;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: 700;
	@media (max-width: 1050px) {
		width: 100%;
	}
	@media (max-width: 768px) {
		font-size: 20px;
		padding: 40px 20px;
	}
}

/* END INDUSTRY SECTION STYLES */

/* START PAYMENT SECTION STYLES */

.payment {
	display: flex;
	gap: 20px;
	padding: 60px 120px;
	padding-top: 200px;
	@media (max-width: 1300px) {
		flex-direction: column;
		align-items: center;
		padding: 0 20px;
		padding-top: 20px;
	}
}

.payment_box {
	position: relative;
	width: 33%;
	min-height: 475px;
	background-color: #efefef;
	border-radius: 20px;
	padding: 30px;
	@media (max-width: 1300px) {
		width: 500px;
	}
	@media (max-width: 768px) {
		width: 400px;
	}
	@media (max-width: 580px) {
		width: 100%;
	}
}

.payment_btn_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.payment_text_wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.payment_type {
	font-weight: 500;
	font-family: "Space Grotesk", sans-serif;
}

.payment_price {
	font-weight: 800;
	font-size: 40px;
}

.payment_advantages {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.payment_advantages li {
	font-family: "Space Grotesk", sans-serif;
}

.payment_btn {
	position: absolute;
	bottom: 40px;
	width: 280px;
	height: 52px;
	background-color: #2b2b2b;
	border-radius: 10px;
	color: #fff;
	@media (max-width: 580px) {
		width: 200px;
	}
}

/* END PAYMENT SECTION STYLES */

/* START ACT_NOW SECTION STYLES */

.act_now {
	padding: 60px 120px;
	padding-top: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 768px) {
		padding: 0 20px;
		padding-top: 60px;
	}
}

.act_now_wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.act_now_title {
	text-align: center;
	font-size: 50px;
	font-weight: 800;
}

.act_now_descr {
	text-align: center;
	font-size: 17px;
	font-family: "Space Grotesk", sans-serif;
}

.act_now_btn {
	padding: 0 20px;
	height: 52px;
	background-color: #919191;
	border-radius: 10px;
	color: #ffffff;
	@media (max-width: 768px) {
		width: 280px;
	}
}

/* END ACT_NOW SECTION STYLES */

/* END FOOTER SECTION STYLES */

.footer {
	padding: 120px 120px;
	padding-top: 160px;
	@media (max-width: 768px) {
		padding: 60px 20px;
	}
}

.footer_menu {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.footer_menu_item {
	color: #000;
	font-family: "Space Grotesk", sans-serif;
	@media (max-width: 480px) {
		font-size: 15px;
	}
}

/* END FOOTER SECTION STYLES */

.mobile_img {
	background: url("./img/mobile.avif") center center/cover no-repeat;
	width: 100%;
	height: 700px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	filter: grayscale(100%);
}

.frust_img {
	background: url("./img/frustration.avif") center center/cover no-repeat;
	width: 50%;
	height: 500px;
	border-radius: 50px;
	filter: grayscale(100%);
	@media (max-width: 1200px) {
		width: 100%;
	}
}

.oasis_img {
	background: url("./img/oasis.avif") center center/cover no-repeat;
	width: 400px;
	height: 500px;
	border-top-left-radius: 20px;
	border-top-right-radius: 38%;
	border-bottom-right-radius: 48%;
	border-bottom-left-radius: 35%;
	filter: grayscale(100%);
	@media (max-width: 480px) {
		width: 100%;
	}
}
